*{margin: 0;
    padding: 0;
    
    }
    *:after,
    *:before {
        box-sizing: border-box;
        margin-top: 0;
    }
    
    html {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        padding: 0;
        margin: 0;
        text-decoration: none;
    }


    .title {
        height: 200px;
        background-color: aqua;
        color: black;
        margin-top: 60px;
        font-size: 40px;
        display: flex;
    }

    .covid {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    /* card */
    .card-title {
        font-size: 20px;
    }
    .card-area {
        width: 80%;
        margin: 0 auto;
    }
    .card {
        margin: 20px;
        height: 200px;
        width: 270px;
        cursor: pointer;
    }
    .card-body {
        display: flex;
        background-color: beige;
    }
    .card-title {
        margin: 0 auto;
        display: flex;
        justify-items: center;
        text-align: center;
        align-items: center;
    }

    /* footer section */
    footer {
        bottom: 0;
        left: 0;
        right: 0;
        background: black;
        height: auto;
        width: 100%;
        font-family: "Open Sans";
        padding-top: 40px;
        color: #fff;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-content h3 {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
    }
   
    .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }

    .socials a {
        text-decoration: none;
        color: #fff;
    }

    .socials a i {
        font-size: 1.1rem;
        transition: color .4s ease;
        margin: 10px;
    }

    .socials a:hover {
        color: aqua;
    }

    .footer-buttom {
        background: black;
        width: 100%;
        padding: 20px 0 ;
        text-align: center;
    }

    .footer-buttom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }